.container{
	width: 100%;
	background: aqua;
}
.variables{
	width: 50%;
	padding: 3%;
	background: red;
	float: left;
}

.indicators{
	width: 50%;
	padding: 3%;
	margin-left: 50%;
	background: black;
}

.clear:after{
	content:"";
	clear:both;
	display: table;
}

