.indicator{
	display: table;
	padding: 5px 2px 15px 10px;
	margin: 2px;
	background: #b4b7e0;
	width: 100%;
	margin-bottom: 20px;
	border: solid 1px;
}

.indicator label{
	display: table;
	width: 100%;
	padding: 2px;
}

.indicator input, textarea{
	width: 85%;
	margin-left: 10%;
	margin-right: 5%;
	display: table-cell;
}

.indicator textarea{
	resize: vertical;
}