/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.card{
	background: #d2d2d2;
	padding: 10px;
	margin-bottom: 5%;
}

.card-body{

}
.list-group-item{
	word-wrap: break-word;
}

.row{
	margin: 0;
	clear: both;
}

.float-left{
	clear:both;
}